* {
    box-sizing: border-box;

    margin:0;
    
}
body {
    background-color: #F6EEE0;
}

nav ul { /* here i found that this parent container of the lis properly spaced out the elements inside using justify*/
    display: flex;
    background-color: #C38370;
    list-style-type: none;
    justify-content: space-around;
 

}
span img {
    display: flex;
    object-fit: contain;
    height: 10vh;
}
 nav li {

     display: flex; /*this made it so the child, in this case a surounds the entire parent element */

    }

 nav a {
    text-decoration: none;
    padding: 1.5rem;
    color: #F6EEE0;
}

nav a:hover {
    text-decoration: none;
    color: #E4B7A0;
    background-color: #F6EEE0;  
 }
 


 .mainsection {
     display: flex;
     flex-direction: row;
    
     background-color: darkslateblue;

 }
 .secone {
     width: 33%;
     background-color: darkkhaki;
 }
 .secsec {
     width: 33%;
     background-color: darksalmon;

 }
.secthree {
    width: 33%;
    background-color: darkslateblue;
}

