*{
    box-sizing: border-box;

}

body {
    background-color: #F6EEE0;
}

nav ul { /* here i found that this parent container of the lis properly spaced out the elements inside using justify*/
    display: flex;
    background-color: #C38370;
    list-style-type: none;
    justify-content: space-around;
 

}
span img {
    display: flex;
    object-fit: contain;
    height: 10vh;
}
 nav li {

     display: flex; /*this made it so the child, in this case a surounds the entire parent element */

    }

 nav a {
    text-decoration: none;
    padding: 1.5rem;
    color: #F6EEE0;
}

nav a:hover {
    text-decoration: none;
    color: #E4B7A0;
    background-color: #F6EEE0;  
 }
body{
    margin: 0;
    padding: 0;
}

 /* nav bar ends */
div {
    display: flex;
    flex-direction: column;

}
.sect{
    flex-direction: row;
    
}

.main img {
    object-fit: contain;
    width: 50%;
}
.main img {
padding: 1rem;

}
.main h1 {
    text-align: center;
}
.main {
    font-family: 'Libre Baskerville' , 'sans-serif';
    font-size: small;
    padding: 1rem;
}
